<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ConnectHealth - Crear Pedigree </title>
    <link href="/stylesheets/alta_pedigree.css" media="screen" rel="stylesheet"> 
    <script type="text/javascript" src="/javascripts/third-party/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/third-party/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/alta_pedigree.js"></script>
</head>
<body ng-app="pedigree">
    <div>
        <form novalidate name="insertForm" ng-controller="PedigreeController">

            Nombre: <input ng-model="nombre" ng-pattern="/^[A-z]+$/" class="form-input" type="text" id="nombre" name="nombre" placeholder="Inserte el nombre" required/><br />

            Edad: <input ng-model="edad" ng-pattern="/^\d+$/" class="form-input" type="number" id="edad" name="edad" placeholder="Inserte la edad" max=150 min=0 required/><br />

            Sexo: <input type="radio" name="sexo" value="m" checked="checked"/>masculino
            <input type="radio" name="sexo" value="f" />femenino<br />   

            <input type="button" value="Agregar" onClick="agregarNodo(this.form)"/>
        </form>
    </div>
    <br>
    <div id="people">
        <h3>Personas</h3>
        <ul style="list-style-type:square" id="listPeople"></ul>
    </div>
    <div id="selectRelation">
        <h3>Selecciona otra persona para la relación</h3>
        <ul style="list-style-type:square" id="listPeopleAvailable"></ul>
        <select id="relationName">    
            <option value="MADRE">Madre</option>    
            <option value="PADRE">Padre</option>    
        </select>
        <!--<input type="text" placeholder="Nombre de la Relación" id="relationName">-->
    </div>
    <div id="relations">
        <h3>Relaciones</h3>
        <ul style="list-style-type:square" id="listRelations"></ul>
    </div>
    <input type="button" value="Guardar Pedigree" onClick="savePedigree()"/>
</body>
</html>