<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ConnectHealth - Crear Pedigree </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/alta_pedigree.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/third-party/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/third-party/bootstrap-theme.min.css">
    <script type="text/javascript" src="/javascripts/third-party/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/third-party/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="OldTemplate/javascripts/alta_pedigree.js"></script>
    <script type="text/javascript" src="/javascripts/third-party/bootstrap.min.js"></script>
</head>
<body ng-app="pedigree" style="margin: 20px;">
    <div>
        <form novalidate name="insertForm" ng-controller="PedigreeController">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input ng-model="person.name" ng-pattern="/^[A-z]+$/" class="form-input form-group" type="text" id="nombre" name="nombre" placeholder="Inserte el nombre" required/>
            </div>
            <div class="form-group">
                <label for="nombre">Apellido:</label>
                <input ng-model="person.surname" ng-pattern="/^[A-z]+$/" class="form-input form-group" type="text" id="apellido" name="apellido" placeholder="Inserte el apellido" required/>
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input ng-model="person.age" ng-pattern="/^\d+$/" class="form-input form-group" type="number" id="edad" name="edad" max=150 min=0 required/>
            </div>
            <label for="sexo">Sexo:</label>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="person.gender" name="sexo" id="optionMasculino" value="M" checked> Masculino
                </label>
            </div>
            <div class="radio">
                <label>
                   <input type="radio" ng-model="person.gender" name="sexo" id="optionFemenino" value="F"> Femenino
                </label>
            </div>

            <input type="button" value="Agregar" ng-click="agregarNodo()" ng-disabled="insertForm.$invalid"/>
        </form>
    </div>
    <br>
    <div id="people">
        <h3>Personas</h3>
        <ul style="list-style-type:square" id="listPeople"></ul>
    </div>
    <div id="selectRelation">
        <h3>Selecciona otra persona para la relación</h3>
        <ul style="list-style-type:square" id="listPeopleAvailable"></ul>
        <select id="relationName">    
            <option value="MADRE">Madre</option>    
            <option value="PADRE">Padre</option>    
        </select>
        <!--<input type="text" placeholder="Nombre de la Relación" id="relationName">-->
    </div>
    <div id="relations">
        <h3>Relaciones</h3>
        <ul style="list-style-type:square" id="listRelations"></ul>
    </div>
    <input type="button" value="Guardar Pedigree" onClick="savePedigree()"/>
</body>
</html>