<h1>ConnectHealth</h1>

<h3>Prototipo Inicial</h3>

<div id="myholder"></div>

<% @neo = Neography::Rest.new(ENV['NEO4J'])

query_busqueda_pacientes = "MATCH (n:PERSONA) RETURN n LIMIT 5"
pacientes = @neo.execute_query(query_busqueda_pacientes)

%>

<input placeholder="Ingrese nombre de paciente" type="text"/>

<p><b>Pacientes</b> </br>
<%

   # puts pacientes.as_json
  pacientes["data"].each do |persona|
  nombre_paciente = persona[0]["data"]["nombre"]
%>

<%="Nombre: " + nombre_paciente%></br>

<%
end
%>
</p>
