<h1>ConnectHealth</h1>

<h3>Prototipo Inicial</h3>

<form accept-charset="UTF-8" action="/pacientes" method="post">
  <div>
    <input name="text_box_nombre" placeholder="Nombre" type="text"/>
  </div>
  <div>
    <input name="text_box_apellido" placeholder="Apellido" type="text"/>
  </div>
  <div>
    <input name="text_box_edad" placeholder="Edad" type="text"/>
  </div>

  <button type="submit">Enviar</button>
</form>